@use './vars.scss' as vars;

nav.header_dashboard {
    box-shadow: vars.$buttonshadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: vars.$text_xl;
    width: 100%;
    box-sizing: border-box;
    gap: vars.$big_gap;
    background-color: vars.$primary_white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    li {
        height: fit-content;
        &.active {
            a {
                color: vars.$deep_purple;
                &::after {
                    background-color: vars.$deep_purple;
                }
            }
        }
    }
    button {
        all: unset;
    }
    a, button {
        all: unset;
        color: vars.$primary_black_75;
        font-size: vars.$text_lg;
        font-weight: 500;
        transition: vars.$transition_hover;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: .2rem;
            border-radius: 999px;
            background-color: vars.$primary_black_20;
            bottom: -.5rem;
            left: 0;
            margin-left: 50%;
            transition: vars.$transition_hover_long;
        }
        &:hover {
            transition: vars.$transition_hover;
            &::after {
                width: 100%;
                margin-left: 0;
                transition: vars.$transition_hover_long;
            }
        }
    }
    button {
        background-color: red;
        color: vars.$primary_white;
        font-weight: 700;
        padding: vars.$text_s vars.$text_lg;
        border-radius: vars.$text_s;
        &:hover {
            box-shadow: vars.$buttonshadow_hover;
            transform: translateY(.2rem);
        }
        &::after {
            all: unset
        }
    }
    .header_back {
        display: flex;
        align-items: center;
        gap: vars.$text_medium;
        padding: vars.$text_medium;
        background-color: vars.$deep_purple;
        color: vars.$primary_white;
        border-radius: vars.$text_s;
        transition: vars.$transition_hover;
        box-shadow: vars.$buttonshadow;
        &:hover {
            box-shadow: vars.$buttonshadow_hover;
            transform: translateY(.2rem);
        }
        &::after {
            all: unset
        }
        img {
            filter: invert(1);
        }
    }
    ul {
        all: unset;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: vars.$medium_gap;
        align-items: center;
        flex-direction: column;
    }
}

.main {
    padding: 1.6rem;
    background-color: vars.$dashboard_body_bg;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: vars.$medium_gap;
    font-size: vars.$text_medium;
    overflow-x: scroll;
    form {
        display: flex;
        gap: .8rem;
        flex-direction: column;
        input {
            all: unset;
            padding: vars.$text_s;
            box-shadow: vars.$buttonshadow;
            color: vars.$primary_black;
            background-color: vars.$primary_white;
            border-radius: vars.$text_s;
            width: 100%;
            box-sizing: border-box;
            max-width: 30rem;
            padding-left: vars.$text_lg;
            padding-right: vars.$text_lg;
            cursor: pointer;
            &[type=submit] {
                background-color: vars.$deep_purple;
                color: vars.$primary_white;
                font-weight: 700;
                text-align: center;
                box-shadow: vars.$buttonshadow;
                transition: vars.$transition_hover;
                &:hover {
                    box-shadow: vars.$buttonshadow_hover;
                    transition: vars.$transition_hover;
                    transform: translateY(.2rem);
                }
            }
        }
    }
    table {
        text-align: left;
        padding: vars.$text_xl;
        border-radius: vars.$text_s;
        background-color: vars.$primary_white;
        color: vars.$primary_black;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
        thead {
            tr {
                th {
                    padding: vars.$text_s;
                    font-weight: 700;
                    font-size: vars.$text_lg;
                    white-space: nowrap
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: vars.$text_s;
                    font-weight: 400;
                    font-size: vars.$text_lg;
                    white-space: nowrap;
                }
            }
        }
    }
}

main.new_client{
    width: 100%;
    height: 100%;
    max-width: 100%;    
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div.form_group {
            display: flex;
            flex-direction: column;
            width: 100%;
            label {
                span.required {
                    color: red;
                }
            }
            p.error {
                color: red;
                font-size: vars.$text_s;
                margin: vars.$text_s 0;
            }
            input {
                &.error {
                    border: 1px solid red;
                }
            }
        }
    }
}

.loading {
    display: inline-block;
    width: 8rem;
    height: 8rem;
}

.loading:after {
    content: " ";
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    margin: .8rem;
    border-radius: 50%;
    border: .6rem solid #3A0CA3;
    border-color: #3A0CA3 transparent #3A0CA3 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 720px) {
    nav.header_dashboard {
        flex-direction: row;
        ul {
            flex-direction: row;
        }
    }
    .main {
        padding: clamp(1rem, 8vw, 4rem);
        display: flex;
        flex-direction: column;
        gap: vars.$big_gap;
        align-items: center;
    }
    .form {
        overflow: visible;
        max-width: 100rem;
        width: 100%;
        form {
            flex-direction: row;
            gap: vars.$small_gap;
            max-width: 60rem;
            label {
                width: fit-content;
                input {
                    width: 100%;
                    max-width: 100%;
                    &[type=submit] {
                        width: fit-content;
                        padding: vars.$buttonpadding;
                    }
                }
                &[for=search] {
                    flex: 1;
                }
                input {
                    &[type=submit] {
                        &[disabled] {
                            cursor: not-allowed;
                            opacity: .5;
                            &:hover {
                                transform: none;
                                box-shadow: none;
                            }
                        }
                        &:focus {
                            outline: 2px solid green;
                        }
                    }
                }
            }
        }
    }

    main.new_client{
        form {
            div.form_group {
                p.error {
                    font-size: vars.$text_regular;
                }
            }
        }
    }
}