@use './vars.scss' as vars;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  background: var(--lineair, linear-gradient(299deg, #3A0CA3 28.29%, #7209B7 109.26%, rgba(58, 12, 163, 0.00) 109.27%)) no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: vars.$header_padding; 
  align-items: center;
  backdrop-filter: blur(8px);
  gap: vars.$medium_gap;
  flex-wrap: wrap;
  transition: vars.$transition_hover;
  &.scrolled {
    background-color: vars.$primary_white_header;
    > nav.nav {
      > ul.nav_ul {
        a {
          color: vars.$primary_black;
          &::after {
            background-color: vars.$primary_black;
          }
          &.dashboard_link {
            color: vars.$primary_white;
            background-color: vars.$deep_purple;
          }
        }
      }
    }
  }
  >img.header_image {
    width: 9.6rem;
    height: 9.6rem;
  }
  button.hamburger {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3.6rem;
    height: 3.6rem;
    padding: .5rem;
    &:focus {
      outline: 3px solid vars.$primary_white;
    }
    span {
      width: 100%;
      height: 2px;
      background-color: vars.$primary_white;
      border-radius: 999px;
      margin: 0;
      transition: vars.$transition_hover;
    }
    &[aria-expanded=true] {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(0.75rem, .65rem);
        }
        &:nth-child(2) {
          margin: 0 50%;
          width: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(1rem, -1rem);
        }
      }
    }
    &[aria-expanded=false] {
      +nav.nav {
        margin-top: -50rem;
        opacity: 0%;
        transition: vars.$transition_menu;
      }
    }
  }
  > nav.nav {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content: center;
    transition: vars.$transition_menu;
    > ul.nav_ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      height: fit-content;
      gap: vars.$big_gap;
      align-items: center;
      a {
        &.dashboard_link {
          padding: vars.$buttonpadding;
          background-color: vars.$bg_white;
          border-radius: .8rem;
          box-shadow: vars.$buttonshadow;
          transition: vars.$transition_hover;
          &::after {
            width: 0;
            height: 0;
          }
          &:hover {
            box-shadow: vars.$buttonshadow_hover;
            transform: translateY(.25rem);
            transition: vars.$transition_hover;
          }
        }
        &:hover::after {
          width: 100%;
          margin-left: 0;
          transition: vars.$transition_hover_long;
        }
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: .2rem;
          border-radius: 999px;
          background-color: vars.$bg_white;
          bottom: -.5rem;
          left: 0;
          margin-left: 50%;
          transition: vars.$transition_hover_long;
        }
        position: relative;
        color: vars.$primary_white;
        font-weight: 500;
        font-size: vars.$text_xl;
        text-decoration: none;
        height: fit-content;
      }
    }
  }
}

.start {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  min-height: fit-content;
  padding: 0 2.4rem 4.8rem 2.4rem;
  >.subTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.6rem;
    flex-wrap: wrap;
    justify-content: center;
    >img.video_card {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
}

h1.heading {
  display: flex;
  flex-direction: column;
  > span {
    color: vars.$primary_white;
    &:nth-child(1) {
      font-size: vars.$text_2xl;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: vars.$text_3xl;
      font-weight: 700;
    }
    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: fit-content;
      >span {
        &:nth-child(1) {
          font-size: vars.$text_3xl;
          font-weight: 700;
        }
        &:nth-child(2) {
          width: 0;
          position: absolute;
          z-index: -1;
          visibility: hidden;
        }
        &:nth-child(3) {
          font-size: vars.$text_lg;
          font-weight: 400;
          max-width: 42rem;
        }
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 2.4rem;
}

.white_bg {
  background-color: vars.$primary_white;
}

.h2 {
  font-size: 2.8rem;
  max-width: 72rem;
  margin: 0;
  &.white {
    color: vars.$primary_white;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  padding: vars.$small_gap;
  > .card {
    background-color: vars.$bg_white;
    transition: vars.$transition_hover_long;
    padding: 1.6rem;
    border-radius: 1.6rem;
    box-shadow: vars.$buttonshadow;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    &:hover {
      background-color: vars.$primary_white;
      transition: vars.$transition_hover_long;
      box-shadow: vars.$buttonshadow_hover;
      p {
        color: vars.$deep_purple;
      }
      > img.card_icon{
        filter: grayscale(100%) brightness(15%) sepia(100%) hue-rotate(-100deg) saturate(500%) contrast(1);
      }
    }
    > img.card_icon {
      width: 2.4rem;
    }
    p {
      font-size: 1.6rem;
      color: vars.$primary_white;
      margin: 0;
      &.value {
        font-weight: 700;
      }
    }
  }
}

.about_us {
  color: vars.$primary_black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: vars.$medium_gap;
  flex-wrap: wrap;
  p {
    font-size: 1.6rem;
    margin: 0;
  }
  >.left {
    display: flex;
    flex-direction: column;
    max-width: 54rem;
    gap: 6.4rem;
    >.top {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      >p.label {
        color: vars.$primary_white;
        background-color: vars.$deep_purple;
        width: fit-content;
        padding: .8rem 3.2rem;
        border-radius: 999px;
        font-size: 1.8rem;
        font-weight: 500;
        font-variant: small-caps;
        margin: 0;
      }
    }
    >.checks {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      .check {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: .8rem;
        >.check_icon {
          background-color: vars.$deep_purple;
          padding: .4rem;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 999px;
        }
      }
    }
  }
  >.right {
    background-color: vars.$deep_purple;
    border-radius: 50%;
    box-shadow: 0 0 64px 0 rgba(68, 11, 166, .5);
    width: 75%;
    max-width: 35rem;
    overflow: hidden;
    aspect-ratio: 1;
    margin: 0 auto;
    >img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.4rem;
  p, h3{
    margin: 0;
  }
  h3 {
    font-size: vars.$text_xl;
    font-weight: 700;
  }
  p {
    font-size: vars.$text_medium;
  }
  .services_cards {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    .service_card {
      text-align: left;
      padding: 1.6rem;
      gap: 1.6rem;
      border-radius: 1.6rem;
      display: flex;
      flex-direction: column;
      background-color: vars.$primary_white;
      overflow: hidden;
      box-shadow: vars.$buttonshadow;
      max-width: 30rem;
      img {
        object-fit: cover;
        height: 4.8rem;
        width: 4.8rem;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: row;
    height: 7rem;
    img.header_image {
      width: 6.4rem;
      height: 6.4rem;
    }
    > nav.nav {
      > ul.nav_ul {
        flex-direction: row;
        a {
          font-size: vars.$text_lg;
        }
      }
    }
    button.hamburger {
      display: none;
      visibility: hidden;
      position: absolute;
      z-index: -1;
    }
    nav.nav {
      margin-top: 0!important;
      opacity: 100%!important;
      width: fit-content!important;
    }
  }

  .start {
    justify-content: center;
    min-height: 100vh;
    >.subTitle {
      >img.video_card {
        width: 40rem;
      }
    }
  }
  
  h1.heading {
    > span {
      &:nth-child(3) {
        flex-direction: row;
        >span {
          &:nth-child(2) {
            all: unset;
            background-color: vars.$bg_white;
            width: .2rem;
            height: 3rem;
            align-self: center;
          }
        }
      }
    }
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 55rem;
    .card {
      min-width: 20rem;
      width: fit-content;
    }
  }

  .services {
    justify-content: center;
    align-items: center;
    .services_cards {
      flex-direction: row!important;
      .service_card {
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .about_us {
    gap: vars.$small_gap;
    justify-content: space-between;
  }
  .section {
    padding: clamp(1rem, 8vw, 4rem);
  }
}