@use "./vars.scss" as vars;

div.canvas {
  height: 100%;
}

.countdown {
  z-index: 100;
  position: absolute;
  font-size: vars.$text_3xl;
  font-weight: 600;
  background-color: vars.$primary_white;
  color: vars.$primary_black;
  border-radius: 20rem;
}

.main {
  padding: 1.6rem;
  background-color: vars.$dashboard_body_bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

button.header_back {
  z-index: 100;
  position: absolute;
  padding: 2rem;
  font-size: 2rem;
}

button.next {
  right: 30px;
  top: 350px;
}

button.prev {
  left: 30px;
  top: 350px;
}

button.select {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
}

.header_back {
  all: unset;
  display: flex;
  align-items: center;
  gap: vars.$text_medium;
  padding: vars.$text_medium;
  background-color: vars.$deep_purple;
  color: vars.$primary_white;
  border-radius: vars.$text_s;
  transition: vars.$transition_hover;
  box-shadow: vars.$buttonshadow;
  &:hover {
    box-shadow: vars.$buttonshadow_hover;
    transform: translateY(0.2rem);
  }
  &::after {
    all: unset;
  }
  img {
    filter: invert(1);
  }
}
