$small_gap: 2.4rem;
$medium_gap: 3.6rem;
$big_gap: 4.8rem;
$buttonpadding: .8rem 2.4rem;
$buttonshadow: 0 0 4px rgba(0, 0, 0, .25);
$buttonshadow_hover: 0 8px 8px rgba(0, 0, 0, .4);
$header_padding: $small_gap $medium_gap;
$primary_black: #2A2A2A;
$deep_purple: #3A0CA3;
$primary_white: #FAFAFA;
$primary_white_header: rgb(250, 250, 255, 0.75);
$transition_hover: 150ms;
$transition_hover_long: 250ms;
$transition_menu: 350ms;

$text_xs: .6rem;
$text_s: .8rem;
$text_regular: 1rem;
$text_medium: 1.2rem;
$text_lg: 1.4rem;
$text_xl: 1.8rem;
$text_2xl: 3.6rem;
$text_3xl: 4.8rem;

$bg_white: rgba(250, 250, 250, .25);

$dashboard_body_bg: #F9FAFB;